<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssm.mapper.CategoryMapper">
    <insert id="insertCategory" parameterType="com.ssm.model.Category">
        INSERT INTO categories (name, description)
        VALUES (#{name}, #{description})
    </insert>

    <select id="selectCategoryById" parameterType="int" resultType="com.ssm.model.Category">
        SELECT * FROM categories WHERE category_id = #{id}
    </select>

    <select id="selectAllCategories" resultType="com.ssm.model.Category">
        SELECT * FROM categories
    </select>

    <update id="updateCategory" parameterType="com.ssm.model.Category">
        UPDATE categories
        SET name = #{name}, description = #{description}
        WHERE category_id = #{category_id}
    </update>

    <delete id="deleteCategory" parameterType="int">
        DELETE FROM categories WHERE category_id = #{id}
    </delete>

    <select id="searchCategories" parameterType="string" resultType="com.ssm.model.Category">
        SELECT * FROM categories WHERE name LIKE CONCAT('%', #{keyword}, '%') OR description LIKE CONCAT('%', #{keyword}, '%')
    </select>

</mapper>
